.SignUp,
.LogIn {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #0056b3;
  border-radius: 6px;
  cursor: pointer;
}
.SignUp:hover,
.LogIn:hover {
  background-color: blue;
}
